{% load static %}

<footer>
        <div class="divfooter1">
            <div class="pr">
            <div class="ma">
            <h4>A propos</h4><br>
            </div>
            <p><a href=""> Qui sommes nous</a></p><br>
            <p> <a href="">Contacts</a></p><br>
            <p> <a href="">Mentions legales</a></p><br>
            <p><a href="">Politique de confidentialite</a></p><br>
            <br>
        </div>
           <div class="pr">
           <div class="ma">
            <h4>Services</h4><br>
            </div>
            <p><a href="">Traiteurs</a></p><br>
            <p> <a href="">Restaurants</a></p><br>
            <p><a href="">Cours de cuisine</a></p><br> 
            <br>
            <br>
        </div>
        
        <div class="pr">
            <div class="ma">
            <h4>Devenir partenaire</h4><br>
            </div>
            <p><a href="">Connexion</a></p><br>
            <p><a href="">FAQ professionnels </a></p><br>
            <br>
            <br>
            <br>
            
        </div>
        <div class="pr">
            <div class="ma">
            <h4>Star Buffet</h4><br>
            </div>
            <address>Dakar, Senegal</address><br>
            <p>Tel: +221 77 000 00 00</p><br>
            <p>Email: contact@starbuff.com</p><br>
            <i class="fa-brands fa-facebook"></i><i class="fa-brands fa-instagram"></i>
            <br>
            <br>
        </div> 
        </div>

        <div class="soulign">
            <hr>
            <br><br>
            <p> © 2025 Star Buffet. Tous droits reserves.</p>
        </div>
    </footer>
