 {% load static %}

 <header>
        <nav>
            <div>
                <img src="{% static 'media/logo.png' %}" alt="logo de ma page" class="logo">
            </div>
            <div class="bienvenue">
                <ul>
                    <li><a href="index.html">Accueil</a></li>
                    <li><a href="dashboard.html">Restaurants</a></li>
                    <li><a href="#cours">Cours de Cuisine</a></li>
                    <li><a href="{% url 'liste_traiteurs' %}">Traiteurs</a></li>
                    <li><a href="pagecontact.html">Contacts</a></li>
                </ul>
            </div>
            <div class="connect">
                
           

            {% if user.is_authenticated %}
                 <h1>Bonjour, <strong>{{user.username}}</strong></h1>
                <form action="{% url "logout" %}" method='POST'> 
                    {% csrf_token %}
                    <button type='submit'>Deconnexion</button>
                </form>
                <a href="{% url "password_change" %}">Changer votre mot de passe</a>


                
            {% else %}   
                <ul>
                    <li><a href="{% url "login" %}" class="cn">Connexion</a></li>
                   <a href="{% url "signup" %}"> <li><button class="inscri">Inscription</button></li></a>
                </ul>
               
            
            {% endif %}
             </div>
        </nav>
    </header>